html, body {
    background-color: #332137;
    color: #FFF;
    cursor: none;
}

body a#reload {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: .75rem;
    right: .25rem;
    color: darkgrey;
}

body a#alert {
    display: none;
    position: absolute;
    bottom: .5rem;
    left: .55rem;
}

body > div {
    display: none;
}
body > div#current {
    display: block;
}

body div span {
    display: none;
    line-height: 1em;
}

body div span.unit {
    display: inline;
    font-size: 75%;
    margin-left: .25rem;
}

body div span.degree span.unit {
    font-size: 100%;
    margin-left: 0;
}

span[data-field="Temperature"] {
    display: block;
    position: absolute;
    font-size: 600%;
    top: 0;
    left: 1rem;
}

span[data-field="ForecastLow"] {
    display: block;
    position: absolute;
    font-size: 200%;
    top: 6rem;
    left: 1rem;
}
span[data-field="ForecastHigh"] {
    display: block;
    position: absolute;
    font-size: 200%;
    top: 6rem;
    left: 6rem;
    text-align: right;
}

div#windgroup {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 6rem;
    height: calc(1vh - 1rem);
    text-align: center;
}
div#windgroup > span {
    display: block;
    font-size: 150%;
    padding-bottom: .25rem;
}

span[data-field="WindSpeed"] {
    display: block;
}

canvas#wind {
    width: 6rem;
    height: 6rem;
}